.Home{
    margin: 3rem;
}

.Home-logo {
    height: 40vmin;
    height: 22rem;
    width: auto;
    pointer-events: none;
    padding: 2rem;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Home-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }


